.btn_size {
    min-width: 36px;
}

.view-button__active {
    height: 26px;
    min-width: 26px;
    border: 1px solid var(--mat-sys-surface-container-highest);
    border-radius: 15%;
    box-shadow: 2px 2px 5px var(--mat-sys-surface-container-highest);
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-secondary) !important;
}
