<app-loader [isLoading]="isLoading()"></app-loader>
<div class="h-100 d-flex flex-column">
    <div class="d-flex justify-content-between flex-wrap m-2">
        <div class="d-flex align-items-center">
            <button mat-icon-button class="me-3" (click)="goBack()" [disabled]="!hasHistory()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div [class.d-none]="bucketsList().length==1">
                <div class="mat-form-inline">
                    <mat-form-field appearance="outline" subscriptSizing="dynamic">
                        <mat-label>Choose a bucket</mat-label>
                        <mat-select [value]="selectedBucket()"
                                    (valueChange)="selectBucket($event)">
                            @for (item of bucketsList(); track item.name) {
                                <mat-option [value]="item.name">{{ item.label }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <app-search-field></app-search-field>
            <div class="ms-2">
                <button mat-button (click)="onCreateFolderButton()" class="px-2">
                    <mat-icon class="m-0">create_new_folder</mat-icon>
                    <span class="d-none d-xxl-inline-block text-nowrap fs-6 ms-1">Create folder</span>
                </button>
                <button mat-button (click)="onUploadFileButton()" class="regular-button px-2">
                    <mat-icon class="m-0">note_add</mat-icon>
                    <span class="d-none d-xxl-inline-block text-nowrap fs-6 ms-1">Upload file</span>
                </button>
            </div>
            <div class="ms-2">
                <button mat-button class="p-0 btn_size me-1 regular-button"
                        (click)="setPresentationStyle(PresentationStyle.list)"
                        [class.view-button__active]="currentPresentationStyle() == PresentationStyle.list">
                    <mat-icon class="m-0">format_list_bulleted</mat-icon>
                </button>
                <button mat-button class="p-0 btn_size regular-button"
                        (click)='setPresentationStyle(PresentationStyle.grid)'
                        [class.view-button__active]="currentPresentationStyle() == PresentationStyle.grid">
                    <mat-icon class="m-0">grid_view</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 h-100 overflow-auto">
        <app-view (sortType)="setSortType($event)" [currentPresentationStyle]="currentPresentationStyle()">
            @for (item of displayedFolders(); track item.name) {
                <app-item [data]="item" glassHover
                          [disableFileDelete]="!canUserDeleteFiles()"
                          (invokeFileAction)="handleMenuButtonClick($event)"
                          (click)="handleSelectedElement(item)">
                </app-item>
            }
            @if (!isLoading() && !displayedFolders().length) {
                <div class="ms-3 mt-3 text-secondary">
                    Current folder is empty
                </div>
            }
        </app-view>
    </div>

    <mat-paginator [length]="folderList().length"
                   [pageSize]="100"
                   [pageIndex]="currentPageIndex()"
                   [pageSizeOptions]="[10, 25, 100]"
                   (page)="pageHandler($event)"
                   class="mat-paginator-sticky"
                   aria-label="Select page">
    </mat-paginator>
</div>
