
.control__custom {
    width: 5%;
    height: 70px;
    top: 47%;
}

.control__lPosition {
    left: 5%
}

.control__rPosition {
    right: 5%
}

.btn_custom {
    background-color: var(--mat-sys-primary);
    border-color: var(--mat-sys-secondary);
}

