@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/base-font/TitilliumWeb-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

// PT Sans
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/PTSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT_Sans/PTSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}


// Roboto

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Black.ttf");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url("../fonts/icons/MaterialIcons-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIconsOutlined-Regular'),
  url("../fonts/icons/MaterialIconsOutlined-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIconsRound-Regular'),
  url("../fonts/icons/MaterialIconsRound-Regular.otf") format('opentype');
}

.material-icons {
  font-family: 'Material Icons', emoji;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
