@use '@angular/material' as mat;
@use "fonts";
@use "./_theme-colors" as colors;

$elevated-container-shape: 4px;
$filled-container-shape: 4px;
$outlined-container-shape: 4px;
$protected-container-shape: 4px;
$text-container-shape: 4px;

:root {
    --custom-container-background-color: color-mix(in srgb, var(--mat-sys-surface-bright) 97%, rgb(255 255 255 / 20%));
    --custom-primary-background: color-mix(in srgb, var(--mat-sys-primary-container), transparent 20%);
    --custom-border-radius: var(--mdc-filled-button-container-shape, var(--mat-sys-corner-full));
    --primary-light: color-mix(in srgb, var(--mat-sys-primary-container) 95%, white);
    --primary-light-light: color-mix(in srgb, var(--mat-sys-primary-container) 90%, white);
    --primary-dark: color-mix(in srgb, var(--mat-sys-primary-container) 95%, black);
    --primary-dark-dark: color-mix(in srgb, var(--mat-sys-primary-container) 90%, black);
    --custom-menu-item-hover-background: light-dark(var(--primary-dark), var(--primary-light));
    --custom-menu-item-active-background: light-dark(var(--primary-dark-dark), var(--primary-light-light));


    @include mat.paginator-overrides((
        container-background-color: var(--mat-sys-surface-container-lowest),
    ));

    @include mat.menu-overrides((
        container-color: var(--custom-container-background-color)
    ));

    @include mat.dialog-overrides((
        container-shape: $filled-container-shape,
    ));


    @include mat.snack-bar-overrides((
        container-color: var(--mat-sys-surface-container-low),
        supporting-text-color: var(--mat-sys-on-surface),
    ));

    @include mat.select-overrides((
        panel-background-color: var(--custom-container-background-color),
    ));


    @include mat.button-toggle-overrides((
        height: 2rem,
        shape:6px
    ));


}


html {
    color-scheme: light dark;
    font-family: 'Titillium Web', 'PT Sans', Roboto, sans-serif;

    @include mat.theme((
        color: (
            primary: colors.$primary-palette,
            tertiary: colors.$tertiary-palette,
        ),
        typography: ('Titillium Web', 'PT Sans', Roboto),
        density: 0
    ));

    @include mat.button-overrides((
        filled-container-shape: $filled-container-shape,
        outlined-container-shape: $outlined-container-shape,
        protected-container-shape: $protected-container-shape,
        text-container-shape: $text-container-shape,
        outlined-container-height: 2.25rem,
        filled-container-height: 2.25rem,
        protected-container-height: 2.25rem,
        text-container-height: 2.25rem,
        outlined-horizontal-padding: 1rem,
        outlined-icon-offset: 0,
        outlined-outline-color: var(--mat-sys-outline-variant),
        filled-horizontal-padding: 1rem,
        filled-icon-offset: 0,
        protected-horizontal-padding: 1rem,
        protected-icon-offset: 0,
        text-horizontal-padding: 1rem,
        text-icon-offset: 0,
    ));

    @include mat.form-field-density(-5);

    @include mat.card-overrides((
        elevated-container-shape: $elevated-container-shape,
        outlined-container-shape: $outlined-container-shape
    ));

    a {
        color: var(--mat-sys-primary);
    }

    .viewer-dialog {
        @include mat.dialog-overrides((
            container-color: rgba(0, 0, 0, 0.8)
        ));
    }

    .action-dialog {
        @include mat.dialog-overrides((
            container-color: var(--custom-container-background-color)
        ));
    }
}

h1 {
    line-height: var(--mat-sys-headline-small-line-height) !important;
    font: var(--mat-sys-headline-small) !important;
}

h2 {
    line-height: var(--mat-sys-headline-small-line-height) !important;
    font: var(--mat-sys-headline-small) !important;
}

h3 {
    line-height: var(--mat-sys-title-medium-line-height) !important;
    font: var(--mat-sys-title-medium) !important;
}

h4 {
    line-height: var(--mat-sys-title-medium-line-height) !important;
    font: var(--mat-sys-title-medium) !important;
}

body {
    background: var(--mat-sys-surface) !important; // Important is required to override bs background
    color: var(--mat-sys-on-surface) !important; // Important is required to override bs color
    font: var(--mat-sys-body-medium);

    &.dark-mode {
        color-scheme: dark;
    }
}

.mat-form-inline {
    mat-form-field {
        width: 100%;
    }
}

.warn-button {
    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-error)
    ));
}

.regular-button {
    @include mat.button-overrides((
        text-label-text-color: var(--mat-sys-on-surface)
    ));
}

.view-button__active {
    @include mat.button-overrides((
        text-label-text-color: var(--mat-sys-on-secondary)
    ));
}



