<div mat-dialog-title class="mb-3">
    File Upload
</div>
<div mat-dialog-content>
    <div class="input-group mb-2">
        <input type="file" (change)="handleFileInput($event)" class="form-control" id="inputGroupFile"
               aria-describedby="inputGroupFileAddon" aria-label="Upload" multiple>
    </div>
    <div class="d-flex flex-column w-100">
        @for (file of filesToUpload; track file) {
            <div class="mb-1">
                @if (uploadStatus[file.name].uploading) {
                    <div><small>{{ file.name }}
                        uploading... {{ uploadStatus[file.name].progress }}%</small></div>
                }
                @if (uploadStatus[file.name].success) {
                    <div><small>{{ file.name }} uploaded successfully &#10003;</small>
                    </div>
                }
                @if (uploadStatus[file.name].failed) {
                    <div><small>{{ file.name }} upload failed 😢</small>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div mat-dialog-actions [align]="'end'" class="mb-2 d-flex w-100">
    <button mat-flat-button class='me-2' [disabled]="disableUploadButton"
            (click)="uploadFiles()">Upload
    </button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
</div>

