.dialog-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control:focus{
  border-color: lightgrey;
  box-shadow: none;
}
