<ol class="d-flex w-100 list-style__none align-items-center m-0 p-0">
    <li class="d-flex align-items-center opacity-color">
        <mat-icon (click)="handleSelectedPage(0)" role="button">home</mat-icon>
    </li>
    @for (item of urlSegments; track i; let last = $last; let i = $index) {
        <li>
            @if (i > 0) {
                <span>
          <span class="me-2 ms-2">/</span>
                    @if (!last) {
                        <span (click)="handleSelectedPage(i)" role='button' class="opacity-color">{{ item }}
            </span>
                    }
                    @if (last) {
                        <span>{{ item }}</span>
                    }
        </span>
            }
        </li>
    }
</ol>
