<div class="body mat-app-background h-100">
    <page-layout>
        <navbar navbar>
            <navbar-section>
                @if (serviceDiscoveryUrl) {
                    <menu-item appSwitcher [appsURL]="serviceDiscoveryUrl">
                        <mat-icon icon>apps</mat-icon>
                        <span>Other services</span>
                    </menu-item>
                }
                <menu-item #item matTooltip="Home" [matTooltipDisabled]="item.isOpened" matTooltipPosition="after"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact:true}"
                           [routerLink]="['/home']">
                    <mat-icon icon>home</mat-icon>
                    <span>Home</span>
                </menu-item>
            </navbar-section>

            <navbar-section>
                <menu-info-block #infoBlock class="d-flex justify-content-center">
                    <app-theme-switcher [navbarOpened]="infoBlock.isOpened"></app-theme-switcher>
                </menu-info-block>
                <menu-item #openTrigger>
                    <div icon class="sidebar-close-icon" [class.close]="openTrigger.isOpened">
                        <div class="bar"></div>
                    </div>
                    Close menu
                </menu-item>
            </navbar-section>
        </navbar>
        <page-header header>
            <div class="header d-flex justify-content-between align-items-center w-100">
                <div class="d-none d-md-inline-block breadcrumbs-container">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
            </div>
        </page-header>
        <router-outlet></router-outlet>
    </page-layout>
</div>
