<div class="h-100 mx-3">
    <div [hidden]='!currentPresentationStyle()' class="row mx-0 text-center position-sticky top-0 z-1 header__bg-color">
        <div (click)="setSortType('name')" class="col-6 py-3 border-bottom_style" role="button">
            Name
            <i class="bi position-absolute"
               [class.bi-arrow-up]="currentSortType().field =='name' && !currentSortType().reverse"
               [class.bi-arrow-down]="currentSortType().field =='name' && currentSortType().reverse"
               role="button"></i>
        </div>
        <div (click)="setSortType('size')" class="col-3 border-bottom_style py-3" role="button">
            Size
            <i class="bi position-absolute"
               [class.bi-arrow-up]="currentSortType().field =='size' && !currentSortType().reverse"
               [class.bi-arrow-down]="currentSortType().field =='size' && currentSortType().reverse"
               role="button"></i>
        </div>
        <div class="col-2 border-bottom_style pt-3 pb-3">
            Kind
        </div>
        <div class="col-1 border-bottom_style"></div>
    </div>
    <div [class.d-flex]="!currentPresentationStyle()"
         [class.flex-wrap]="!currentPresentationStyle()"
         [class.pt-3]="!currentPresentationStyle()">
        <ng-content></ng-content>
    </div>

</div>

